Мы создаем Туристический блог/гид: Статьи, маршруты, достопримечательности (больше контентный проект) на Laravel 10. Название сайта – Отдых в Карелии.
Когда пишешь код будь на 100% уверен, что не ломаешь ничего существующего.
Технологический стек: Backend: Laravel 10, Frontend: Blade, MySQL.
Open Server Panel - это инструмент для быстрой установки и управления веб-сервером, включая PHP, MySQL,Apache.








